<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-light">
        <tr>
            <th>Name</th>
            <th>Genre</th>
            <th>Release Date</th>
            <th><input type="checkbox" @bind="displayButtons"/></th>
        </tr>
        </thead>
        <tbody>
            @foreach (var item in Games)
            {
                @*<tr>
                    <td>@item.Name</td>
                    <td>@item.Genre</td>
                    <td>@item.ReleaseDate.ToString("dd.MM.yyyy")</td>
                </tr>*@
                <IndividualGameComponent Game="item" IsTable="true" DisplayButtons="displayButtons" DeleteGame="DeleteTheGame"/>
            }
        </tbody>
    </table>
</div>

@code 
{
    [Parameter] public List<Game> Games { get; set; }
    bool displayButtons = false;

    void DeleteTheGame(Game game)
    {
        Games.Remove(game);
    }
}
