<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-light">
        <tr>
            <th>Name</th>
            <th>Genre</th>
            <th>Release Date</th>
            <th><input type="checkbox" @bind="displayButtons"/></th>
        </tr>
        </thead>
        <tbody>
            <GenericListComponent ListOfItems="Games">
                <ItemTemplate Context="game">
                    <IndividualGameComponent Game="game" IsTable="true" DisplayButtons="displayButtons" DeleteGame="DeleteTheGame"></IndividualGameComponent>
                </ItemTemplate>
            </GenericListComponent>
        </tbody>
    </table>
</div>

@code 
{
    [Parameter] public List<Game> Games { get; set; }
    
    bool displayButtons = false;

    void DeleteTheGame(Game game)
    {
        Games.Remove(game);
    }
}
