@page "/"

<div class="row">
    <div class="col text-center">
        <h1>Welcome to our Game Industry Page</h1>
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <h2>Show all games in MOCK DateBase:</h2>
    </div>
</div>

<GameListComponent Games="_games"/>

<IndividualGameComponent Game="_games[0]" IsTable="false" DisplayButtons="true"/>

@code
{
    private List<Game> _games;
    protected override void OnInitialized()
    {
        _games = new List<Game>
        {
            new Game {Name = "Farming Simulator", Genre = "Simulator", ReleaseDate = new DateTime(2018, 11, 19)},
            new Game {Name = "The Witcher 3", Genre = "Action/RPG", ReleaseDate = new DateTime(2015, 05, 18)},
            new Game {Name = "Destroy All Humans", Genre = "Action-Adventure", ReleaseDate = new DateTime(2016, 10, 22)}
        };
    }
}
